@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&family=Poppins&display=swap');
body {
  font-family: 'Poppins', sans-serif;
  color: #423840;
  line-height: 1.6; 
}
#cuddles-title {
  font-family: 'Great Vibes', cursive;
  font-size: 3rem;
  color: #423840;
}


#wealllovecuddles
{
color: #944d86}

#five-reasons
{color: #c975b9;
text-align: left;}

#reasons
{color: #423840;
text-align: left;}

.sleep-cuddles 
{display: block;
  margin: 0;
  width: 500px;}

.sketch-cuddling 
{display: block;
  margin: 0;
  width: 300px;}
